html, body  {
	height: 100%;
}
* {
	margin:0;
	padding:0;
}

body {
	overflow: hidden;
}

#background{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

#background img {
	width: 100%;
}

#menu h1 {
	font-size: 1.1em;
	text-transform: uppercase;
	z-index: 3;
}

#menu {
	position: fixed;
	z-index: 3;
	margin: 2em 0 0 4em;
}

#menu ul {
	display: block;
	list-style: none;
	text-transform: uppercase;
}

#menu li {
	font-size: 1em;
	width: 8em;
	text-align: left;
	position: relative;
	text-align: left;
}

#menu ul li:hover ul, #menu ul li:hover li:hover ul {
	display: block;
	position: absolute;
}

#menu ul ul, #menu ul li:hover ul ul{
	display: none;
	left: 100%;
	top: 0;
}

#menu li li {
	width: 2em;
}

#menu li li li {
	width: 21em;
}

#menu a {
	color: #909090;
	text-decoration: none;
	display:block;
	white-space: nowrap;
	padding: 0;
	font-weight: bold;
	font-family: sans-serif;
}

#contents {
	top: 36px;
	height: 85%;
	display: none;
	clear: both;
	position: relative;
	z-index: 2;
}

#awards {
	display: none;
	width: 25em;
	height: 13em;
	margin: 2em 0 0 14em;
	border: none;
	position: absolute;
	z-index: 2;
}

#cv {
	display: none;
	position: absolute;
	width: 55em;
	height: 90%;
	left: 14em;
	top: 2em;
	border: none;
	z-index: 2;
}

#reel {
	display: none;
	position: absolute;
	margin-left: -27em;
	width: 55em;
	top: 80%;
	height: 18%;
	left: 50%;
	border: none;
}
