html, body  {
	height: 100%;
	font-family: sans-serif;
}
* {
	margin:0;
	padding:0;
}

body {
	overflow: hidden;
}

li.shown {
	display: block;
}

li.hidden {
	display: none;
}

#background{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

#background img {
	width: 100%;
	border: none;
}

#menu h1 {
	font-size: 1.1em;
	text-transform: uppercase;
	height: 12.5%;
	vertical-align: middle;
}

#menu {
	position: fixed;
	z-index: 500;
	margin: 2% 0 0 4em;
	height: 97%;
	text-align: left;
}

#menu ul {
	display: block;
	list-style-type: none;
	text-transform: uppercase;
	height: 87.5%;
	width: 8em;
}

#menu li {
	vertical-align: middle;
	font-size: 1em;
	height: 14.28%;
	position: relative;	
	background-image: url(../images/transparent.png);
}

#menu ul li:hover ul {
	display: block;
	position: absolute;
	width: 21em;
	left: 8em;
}

#menu ul ul {
	display: none;
	top: 0;
	left: 100%;
	margin:0pt;
	padding:0pt;
	position:absolute;
}

#menu li li {
	height: 2em;
}

#menu a {
	vertical-align: middle;
	color: #909090;
	text-decoration: none;
	display:block;
	white-space: nowrap;
	padding: 0;
	font-weight: bold;
}

#contents {
	top: 36px;
	height: 85%;
	display: none;
	clear: both;
	position: relative;
	z-index: 2;
}

#awards {
	display: none;
	width: 25em;
	height: 13em;
	margin: 2.4em 0 0 14.5em;
	border: none;
	position: absolute;
	z-index: 2;
	background-color: transparent;
}

#cv {
	display: none;
	position: absolute;
	width: 55em;
	height: 90%;
	left: 50%;
	margin-left: -27.5em;
	top: 1.4em;
	border: none;
	z-index: 2;
}

#reel {
	display: none;
	position: absolute;
	margin-left: -27em;
	width: 55em;
	top: 80%;
	height: 18%;
	left: 50%;
	border: none;
}
