.menu {
	width:100%;
}

.vertical {
	position: absolute;
	top: 9px;
	height: 205px;
	left: 360px;
	overflow-y: auto;
	overflow-x: hidden;
}

.horizontal {
	/*width: 1050px;
	height: 80px;
	overflow-y: hidden;
	overflow-x: auto;*/
	display: none;
}

.horizontal li {
	/*display: inline;
	float: left;*/
}

#menu ul {
	margin: 0px;
	padding: 0px;
}

#menu img {
	height: 100%;
	float: left;
}

#menu li {
	list-style: none;
	width: 300px;
	display: block;
	height: 50px;
	padding: 5px;
	position: relative;
	background-color: gray;
	color: black;
	cursor: pointer;
	font-size: 10pt;
}

#menu li:hover {
	background-color: green;
}
