.movie {
	float: left;
}
#menu {
	border: none;
	height: 205px;
}
.menu {
	position: relative;
	top: -10px;
}
.menu ul {
	margin: 0px;
	padding: 0px;
}

.menu img {
	margin: 0 auto;
	height: 100%;
	float: left;
	display: inline;
}

.vid {
	cursor: pointer;
	font-size: 10pt;
}

.menu li {
	display: block;
	height: 50px;
	padding: 5px;
	position: relative;
	background-color: gray;
	color: black;
}

.menu li:hover {
	background-color: green;
}
