.movie {
	width: 70%;
}

.movie embed{
	position: relative;
	height: 610px; width: 1065px;
}

.menu {
	position: absolute;
	left: 72%;
	width: 28%;
	top: 5%;
	overflow: auto;
	height: 90%;
}

.menu ul {
	margin: 0px;
	padding: 0px;
}

.menu ul li:first-child {
	padding-left: 0px;
	height: 1em;
	background-color: inherit;
}

.menu img {
	margin: 0 auto;
	height: 100%;
	float: left;
	display: inline;
}

#vid {
	cursor: pointer;
	font-size: 10pt;
}

.menu li {
	display: block;
	height: 50px;
	padding: 5px;
	position: relative;
	background-color: gray;
	color: black;
}

.menu li:hover {
	background-color: green;
}


.menu form {
	font-size: 8pt;
}
