.cv {
	width: 100%;
}

#year, .cv td:first-child {
	width: 3em;
}

#production, .cv td:first-child + td {
	font-weight: bold;
}

#part, .cv td:first-child + td + td {
	
}

#director, .cv td:first-child + td + td + td {
	
}

.cv tr {
	height: 10pt;
}

#producer, .cv td:first-child + td + td + td + td {
	
}

.aka {
	font-weight: normal;
}

.production_award {
	font-weight: normal !important;
}

.underline {
	text-decoration: underline;
}

.cv th {
	font-style: italic;
	text-align: left;
	border-bottom-style: solid;
}

body {
	font-size: 10pt;
	font-family: "Times New Roman", serif;
}

#personalia {
	font-style: italic;
	font-size: 10pt;
	display: block;
	width: 100%;
}

#personalia img {
	float: right;
}

.personalia div {
	display: block;
	position: relative;
	width: 100%;
}

.personalia div span {
	display: block;
	text-align: left;
	width: 33%;
}

.personalia div span + span {
	text-align: center;
	width: 33%
}

.personalia div span + span + span {
	width: 33%;
}

.selection_row {
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;
}

#name {
	font-weight: bold;
	font-size: 20pt;
	text-align: center;
}

#title {
	text-align: center;
	font-style: italic;
	font-size: 10pt;
}

.whiteline {
	height: 10pt;
}
